<!DOCTYPE html>
<html lang="en" width="100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    {{{ body }}}

    <script>
        $('#my-button').on("click", (e) => {
            e.preventDefault();
             $.ajax({
                type: "POST",
                url: "/",
                data: { burgerName: $('#burger').val() }
            }).then(response => {
                console.log("Inserted " + response + "successfully!");
                location.reload();
            });
        });

       $(document).on("click", "#devourBtn", (e) => {
           e.preventDefault();
           const id = e.target.getAttribute("data-id");
          $.ajax({
              type: "PUT",
              url: "/" + id
          }).then(response => {
              console.log(response);
              location.reload();
          })
       })
    </script>
</body>
</html>