<div class="nav">
    Welcome to Burger Indulgence!
</div>
<div class="img">
    <img src="/img/burger.jfif" alt="juicy burger">
</div>
<div class="container">
    <div id="primary">
    {{#each burgers}}
        {{#unless devoured}}
        <li id="added">
            {{this.burger_name}}
            {{> isDevoured }}
        </li>

        {{/unless}} 
    {{/each}}
        <form id="my-form">
            <input type="text" id="burger" name="burger" col=30 rows=30 placeholder="Enter Burger Name"/>
            <button id="my-button">
                Add Burger
            </button>
        </form>
    </div>
    <div id="secondary">
        {{#each burgers}}
            {{#if devoured}}
            <ul id="eaten" style="list-style-type: none">
               <li>
                    {{this.burger_name}} eaten!
               </li>  
            </ul>
            {{/if}} 
        {{/each}}
    </div>
</div>
